# ·o· ______________________________________________ ·o· 
# ·o· ------------------ TEMPLATE ------------------ ·o· TEMPLATE
# ·o· ______________________________________________ ·o· 

# ·f· ______________________________________________ ·f· 
# ·f· ------------------ TEMPLATE ------------------ ·f· TEMPLATE
# ·f· ______________________________________________ ·f· 

# ·f· ______________________________________________ ·f· 
# ·f· ------------------ TEMPLATE ------------------ ·f· TEMPLATE
# ·f· ______________________________________________ ·f· 

# ·o· ________________ OFTEN USED __________________ ·o· OFTEN

# ·o· ------------------- Alias -------------------- ·o· Alias

# ·o· ---------------------------------------------- ·o· 

# ·o· ---------------------------------------------- ·o· 

# ·o· ________________ OFTEN USED __________________ ·o· OFTEN

# ·o· _______________ NORMALLY USED ________________ ·o· NORMALLY

# ·o· _______________ NORMALLY USED ________________ ·o· NORMALLY

# ·o· ________________ LESSER USED _________________ ·o· LESSER

# ·o· ________________ LESSER USED _________________ ·o· LESSER

# ·o· ______________________________________________ ·o· 
# ·o· ------------------ TEMPLATE ------------------ ·o· TEMPLATE
# ·o· ______________________________________________ ·o· 
